*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 75vw;
   margin: 0 auto;
}
.d-flex{
    display: flex;
}
.w-50{
    width: 50%;
}

body{
    background-image: url("/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}
.justBt{
    justify-content: space-between;
}